[include]
	path = .gitconfig.local
[alias]
	tree = log --graph --all --color --pretty='%x09%h %cn%x09%s %Cred%d%Creset'
	tr = log --graph --all --color --pretty='%x09%h %cn%x09%s %Cred%d%Creset'
	graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=iso
	gr = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=iso
	st = status
	br = branch
[color]
	ui = auto
[core]
	editor = vim -c \"set fenc=utf-8\"
	excludesfile = ~/.gitignore_global
	pager = lv -c
[grep]
	lineNumber = true
[merge]
	tool = p4merge
[mergetool "p4merge"]
	path = p4merge
	keepTemporaries = false
	trustExitCode = false
[color "diff"]
	meta = white bold
	frag = cyan
	old = red
	new = green
[diff]
	algorithm = patience
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
